__pycache__/
**/__pycache__/**
*.py[cod]
*$py.class
*.so

.Python
build/
dist/
*.egg-info/
*.egg

.env
.venv
env/
venv/

.vscode/
.idea/
*.swp

.ipynb_checkpoints
*.log

.DS_Store
Thumbs.db

gradio_uploads/
arxiv_papers/
arxiv_papers_md/
sessions/
run_gradio_*

papers_test/
*.pdf

papers_md/
*.md